/* styles */
/* called by your view template */
/* p.s. vendor prefixes are added automatically */



* {
  box-sizing: border-box;
}

body {
  font-family: helvetica, arial, sans-serif;
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
}

canvas {
  border: 1px solid black;
}

#canvas {
  background: #F6E8CD;
}

#highscoreSubmit {
  display: none;
}